body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #F8F9F9;
}
header {
    background-color: #5DADE2;
    padding: 15px;
    color: white;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
header nav ul li {
    margin-left: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.hero {
    background-color: #5DADE2;
    color: white;
    text-align: center;
    padding: 50px 20px;
}
.btn {
    background-color: #58D68D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}
.btn:hover {
    background-color: #45b974;
}
.section {
    padding: 50px 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
